<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>com.apple.systemuiserver</string>
		<string>com.apple.dock</string>
		<string>com.apple.finder</string>
		<string>com.apple.systempreferences</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.SystemUIServer</string>
		<string>com.apple.Dock</string>
		<string>com.apple.windowserver</string>
	</array>
	<key>com.apple.security.temporary-exception.mach-register.global-name</key>
	<array>
		<string>com.apple.WindowServer</string>
	</array>
	<key>com.apple.security.temporary-exception.sbpl</key>
	<array>
		<string>(allow window-movable)</string>
		<string>(allow window-geometry-write)</string>
	</array>
</dict>
</plist>
